@charset "UTF-8";
/*
Auteur :Thomas DANGER
Mise en forme page INDEX.html Projet 3 : Ohmyfood
*/
/* ------------------------------  Définition des polices perso  ----------------------------- */
/* Logo et titres */
@font-face {
  font-family: 'Shrikhand';
  src: url("/polices/Shrikhand-Regular.ttf");
}

/* texte */
@font-face {
  font-family: 'Roboto';
  src: url("/polices/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("/polices/Roboto-Light.ttf");
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("/polices/Roboto-Thin.ttf");
}

/* liens */
a {
  text-decoration: none;
}

/* listes*/
ul {
  list-style: none;
  padding: 0;
}

/*boxes*/
* {
  box-sizing: border-box;
}

/* -------------------------------  Elements principaux de la page  ------------------------------- */
body {
  background-color: #f6f6f6;
  font-family: 'Roboto';
  margin: auto;
  width: 100%;
}

/* -------------------------------------------  Header  ------------------------------------------- */
.header {
  display: flex;
  flex-direction: column;
}

.header__nav {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 1.7em 1.5em;
}

.header__banner {
  max-height: 15em;
  object-fit: cover;
  object-position: 100%;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .header__banner {
    max-height: 20em;
  }
}

@media screen and (min-width: 1024px) {
  .header__banner {
    max-height: 25em;
  }
}

@media screen and (min-width: 1400px) {
  .header__banner {
    max-height: 30em;
  }
}

.header__icon {
  font-size: 1.2em;
  left: 1.5em;
  padding-top: 0.3em;
  position: absolute;
}

@media screen and (min-width: 600px) {
  .header__icon {
    font-size: 1.7em;
    left: 1.8em;
    top: 2.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .header__icon {
    font-size: 2em;
    top: 52px;
  }
}

@media screen and (min-width: 600px) {
  .header__logo {
    height: 4em;
  }
}

@media screen and (min-width: 1400px) {
  .header__logo {
    height: 6em;
  }
}

/* Restaurant */
.restaurant {
  background-color: #f6f6f6;
  border-radius: 3em 3em 0 0;
  position: relative;
  padding: 5%;
  top: -3em;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .restaurant {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant {
    border-radius: 4em 4em 0 0;
    padding: 0 10%;
  }
}

@media screen and (min-width: 1400px) {
  .restaurant {
    padding: 0 20%;
  }
}

.restaurant__container {
  align-items: center;
  display: flex;
  height: 8em;
  justify-content: space-between;
}

.restaurant__heading {
  font-family: 'Shrikhand';
  font-size: 1.7em;
  font-weight: normal;
  margin: 0;
}

@media screen and (min-width: 600px) {
  .restaurant__heading {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant__heading {
    font-size: 2em;
  }
}

.restaurant__like {
  font-size: 1.7em;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .restaurant__like {
    font-size: 2em;
  }
}

.restaurant__like:hover {
  cursor: pointer;
}

.restaurant__like:hover::after {
  opacity: 1;
}

.restaurant__like::after {
  bottom: 0;
  content: "\f004";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 500ms;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background: linear-gradient(to bottom right, #ff79da 0%, #9356dc 100%);
  border: none;
  border-radius: 2em;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: block;
  font-size: 1.2em;
  margin: auto;
  padding: 1em 0.8em;
  position: relative;
  width: 65%;
  z-index: 1;
}

.button:hover {
  cursor: pointer;
}

.button:hover::after {
  opacity: 1;
}

.button::after {
  background: linear-gradient(to bottom right, #ff93e1 0%, #a16be0 100%);
  border-radius: 2em;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 250ms;
  z-index: -1;
}

.button:focus {
  outline: none;
}

.button:visited {
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .button {
    width: 35%;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 1.5em;
    padding: 1.2em 0.8em;
    width: 35%;
  }
}

@media screen and (min-width: 1400px) {
  .button {
    width: 25%;
  }
}

/* ARTICLE menu*/
.menu__board {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
  animation: anim-menu 1500ms both;
}

.menu__board--1 {
  animation-delay: 300ms;
}

.menu__board--2 {
  animation-delay: 600ms;
}

.menu__board--3 {
  animation-delay: 900ms;
}

.menu__heading {
  font-size: 1em;
  font-family: 'Roboto-Thin';
  margin: 0 0 1em 0;
}

.menu__heading--underline {
  border-bottom: 0.2em solid #99e2d0;
  padding-bottom: 0.2em;
}

@media screen and (min-width: 1400px) {
  .menu__heading {
    font-size: 1.2em;
  }
}

.food {
  background-color: #ffffff;
  border-radius: 1em;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  min-height: 4.2em;
  margin-bottom: 1em;
  overflow-x: hidden;
  padding-left: 0.7em;
}

.food:hover {
  cursor: pointer;
}

.food:hover > .food__column1 {
  min-width: 60%;
  transition: min-width 700ms 300ms;
}

.food:hover > .food__column3 {
  transform: translateX(0);
  transition: transform 500ms;
}

.food:hover > .food__column3 i {
  animation: select-spin 500ms 500ms forwards;
}

@media screen and (min-width: 1024px) {
  .food {
    margin-bottom: 1.5em;
  }
}

.food__column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 80%;
  transition: min-width 500ms;
}

.food__column2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 20%;
}

.food__column3 {
  align-items: center;
  border-radius: 0 1em 1em 0;
  display: flex;
  background-color: #99e2d0;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100vw);
  transition: transform 500ms 250ms;
  min-width: 21%;
}

.food__heading {
  font-size: 1.2em;
  margin: 0.5em 0 0.3em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .food__heading {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1400px) {
  .food__heading {
    font-size: 1.4em;
  }
}

.food__caption {
  font-size: 0.9em;
  margin: 0 0 0.7em 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .food__caption {
    font-size: 1em;
  }
}

@media screen and (min-width: 1400px) {
  .food__caption {
    font-size: 1.2em;
  }
}

.food__price {
  font-weight: bold;
  margin: 0 0 0.7em 0;
}

@media screen and (min-width: 1024px) {
  .food__price {
    font-size: 1em;
  }
}

@media screen and (min-width: 1400px) {
  .food__price {
    font-size: 1.2em;
  }
}

.food__icon {
  color: #ffffff;
  font-size: 1.3em;
  transform: rotate(-360deg);
}

@keyframes anim-menu {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes select-spin {
  0% {
  }
  50%, 100% {
    transform: rotate(0deg);
  }
}

/* ----------------------------------------  Footer  -------------------------------------*/
.footer {
  background-color: #353535;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .footer {
    align-items: center;
    padding: 1em;
  }
}

@media screen and (min-width: 600px) {
  .footer {
    align-items: center;
  }
}

.footer__heading {
  color: #ffffff;
  font-family: 'Shrikhand';
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0;
  padding-left: 1.4em;
}

@media screen and (min-width: 600px) {
  .footer__heading {
    font-size: 1.5rem;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer__heading {
    font-size: 2.5em;
    margin: 0;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 1400px) {
  .footer__heading {
    font-size: 2.8em;
    padding: 1rem 0;
  }
}

.footer__list {
  list-style: none;
  padding-left: 1.5em;
}

.footer__list li {
  margin-bottom: 0.7em;
}

@media screen and (min-width: 1024px) {
  .footer__list {
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    padding: 0;
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .footer__list {
    font-size: 1.4em;
    width: 70%;
  }
}

.footer__icon {
  font-size: 0.8em;
  margin-right: 0.7em;
}

.footer__link {
  color: #ffffff;
}

.fa-utensils {
  margin-right: 1.1em;
}
/*# sourceMappingURL=menus.css.map */