/* --------------------------------------  Navigation  -------------------------------------------*/

.explore{
    margin: 0;
    margin-bottom: 4em;
    width: 100%;
}

@import "../components/button";

