/* ARTICLE menu*/ 

.menu{
    &__board{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
        animation: anim-menu 1500ms both;
        @for $i from 1 to 4 {
            &--#{$i}{
                animation-delay: 300ms * $i;
            }
        }
    }
    &__heading{
        font-size: 1em;
        font-family: 'Roboto-Thin';
        margin: 0 0 1em 0;
        &--underline{
            border-bottom: 0.2em solid $colour-tertiary;
            padding-bottom: 0.2em;
        }
        @include breakpoint(desktopL){
            font-size: 1.2em;
        }
    }
}

.food{
    background-color: $colour-white;
    border-radius: 1em;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    min-height: 4.2em;
    margin-bottom: 1em;
    overflow-x: hidden;
    padding-left: 0.7em;
    &:hover{
        cursor: pointer;
    }  
    &:hover > .food__column1{
       animation: anim-food 500ms 500ms forwards;
    }
    /*&:hover > .food__column2{
        animation: anim-price 600ms 400ms forwards;
    }*/
    &:hover > .food__column3{
        animation: anim-select 1s forwards;
    }
    &:hover > .food__column3 i{
        animation: select-spin 700ms 300ms forwards;
    }
    @include breakpoint(desktop){
        margin-bottom: 1.5em;;
    }
    &__column1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 80%;
    }
    &__column2{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 20%;
        //transform: translateX(30px);
    }
    &__column3{
        align-items: center;
        border-radius: 0 1em 1em 0;
        display: flex;
        background-color: $colour-tertiary;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100vw);
        min-width: 21%;
    }
    &__heading{
        font-size: 1.2em;
        margin: 0.5em 0 0.3em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include breakpoint(desktop){
            font-size: 1.3em;
        }
        @include breakpoint(desktopL){
            font-size: 1.4em;
        }
    }
    &__caption{
        font-size: 0.9em;
        margin: 0 0 0.7em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include breakpoint(desktop){
            font-size: 1em;
        }
        @include breakpoint(desktopL){
            font-size: 1.2em;
        }
    }
    &__price{
        font-weight: bold;
        margin: 0 0 0.7em 0;
        @include breakpoint(desktop){
            font-size: 1em;
        }
        @include breakpoint(desktopL){
            font-size: 1.2em;
        }
    }
    &__icon{
        color: $colour-white;
        font-size: 1.3em;
        transform: rotate(-270deg);
    }
}

@keyframes anim-menu{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    80%{
        opacity: 1;      
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes anim-food{
    0%{
        min-width: 80%;
    }
    25%, 100%{
        min-width: 60%;
    }
}

/*@keyframes anim-price{
    0%{

    }
    65%, 100%{
        transform: translateX(0);
    }
}*/

@keyframes anim-select{
    0%{

    }
    65%, 100%{
        transform: translateX(0);
    }
}

@keyframes select-spin{
    0%{

    }
    75%, 100%{
        transform: rotate(0deg);
    }
}
