/* ARTICLE menu*/ 

.menu{
    &__board{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5em;
        animation: anim-menu 1500ms both;
        @for $i from 1 to 4 {
            &--#{$i}{
                animation-delay: 300ms * $i;
            }
        }
    }
    &__heading{
        font-size: 1em;
        font-family: 'Roboto-Thin';
        margin: 0 0 1em 0;
        &--underline{
            border-bottom: 0.2em solid $colour-tertiary;
            padding-bottom: 0.2em;
        }
        @include breakpoint(desktopL){
            font-size: 1.2em;
        }
    }
}

.food{
    background-color: $colour-white;
    border-radius: 1em;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    min-height: 4.2em;
    margin-bottom: 1em;
    overflow-x: hidden;
    padding-left: 0.7em;
    &:hover{
        cursor: pointer;
    }  
    &:hover > .food__column1{
       min-width: 60%;
       transition: min-width 700ms 300ms;
       @include breakpoint(tablet){
        min-width: 78%;
        }
        @include breakpoint(desktop){
            min-width: 80%;
        }
        @include breakpoint(desktopXL){
            min-width: 82%;
        }
    }
    &:hover > .food__column3{
        transform: translateX(0);
        transition: transform 500ms;
    }
    &:hover > .food__column3 i{
        animation: select-spin 500ms 500ms forwards;
    }
    @include breakpoint(desktop){
        margin-bottom: 1.5em;;
    }
    &__column1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width: 80%;
        transition: min-width 500ms;
        @include breakpoint(tablet){
            min-width: 90%;
        }
        @include breakpoint(desktopXL){
            min-width: 92%;
        }
    }
    &__column2{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-width: 20%;
        @include breakpoint(tablet){
            min-width: 10%;
        }     
    }
    &__column3{
        align-items: center;
        border-radius: 0 1em 1em 0;
        display: flex;
        background-color: $colour-tertiary;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100vw);
        transition: transform 500ms 250ms;
        min-width: 21%;
        @include breakpoint(tablet){
            min-width: 12%;
        }
        @include breakpoint(desktop){
            min-width: 10%;
        }
        @include breakpoint(desktopXL){
            min-width: 8%;
        }
    }
    &__heading{
        font-size: 1.2em;
        margin: 0.5em 0 0.3em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include breakpoint(desktop){
            font-size: 1.3em;
        }
        @include breakpoint(desktopL){
            font-size: 1.4em;
        }
    }
    &__caption{
        font-size: 0.9em;
        margin: 0 0 0.7em 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include breakpoint(desktop){
            font-size: 1em;
        }
        @include breakpoint(desktopL){
            font-size: 1.2em;
        }
    }
    &__price{
        font-weight: bold;
        margin: 0 0 0.7em 0;
        @include breakpoint(desktop){
            font-size: 1em;
        }
        @include breakpoint(desktopL){
            font-size: 1.2em;
        }
    }
    &__icon{
        color: $colour-white;
        font-size: 1.3em;
        transform: rotate(-360deg);
        @include breakpoint(desktop){
            font-size: 1.5em;
        }
        @include breakpoint(desktopXL){
            font-size: 1.7em;
        }
    }
}

@keyframes anim-menu{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }
    80%{
        opacity: 1;      
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes select-spin{
    0%{
        transform: rotate(-360deg);
    }
    50%, 100%{
        transform: rotate(0deg);
    }
}
