$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$light-grey: #f6f6f6;
$grey: #eaeaea;
$dark-grey: #d1d1d1;

$white: #ffff; 

$purple: #9356dc33; 

$new-green: #008766;
$dish-green: #99e2d0;

$footer-bg:#353535;