.loader{
    align-items: center;
    animation: popup 3200ms linear forwards;
    background-color: $bg-loader;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    &__image{
        height: 128px;
        width: 128px;
        &--shake{
            animation: shake 300ms 150ms;
            animation-iteration-count: 10;
            animation-direction: alternate;
        }
        &--spin{
            animation: spin 1s 150ms linear 3;
        }
    }
    
}

@keyframes popup{
    0%{
        opacity: 1;
        transform: translateY(0);
    }

    90%{
        opacity: 1;
        transform: translateY(0);
    }
    91%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateY(-100vh);
    }

} 

@keyframes spin{
    0%{
        transform: rotate(0turn);
    }
    100%
    {
        transform: rotate(1turn);
    }
}

@keyframes shake{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-15px);
    }
}