/* -------------------------------  Elements principaux de la page  ------------------------------- */

body{
    background-color: #f6f6f6;
    font-family: 'Roboto';
    margin: auto;
    width: 100%;
}