/* ------------------------------  Définition des polices perso  ----------------------------- */

/* Logo et titres */
@font-face{
    font-family: 'Shrikhand';
    src: url('/ThomasDanger_3_22102020/polices/Shrikhand-Regular.ttf');
}

/* texte */
@font-face{
    font-family: 'Roboto';
    src: url('./polices/Roboto-Regular.ttf');
}

@font-face{
    font-family: 'Roboto-Light';
    src: url('./polices/Roboto-Light.ttf');
}

@font-face{
    font-family: 'Roboto-Thin';
    src: url('./polices/Roboto-Thin.ttf');
}

