/* ----------------------------------------  Footer  -------------------------------------*/

.footer{
    background-color: $bg-footer;
    color: $colour-white;
    display: flex;
    flex-direction: column;
    @include breakpoint(desktop){
        align-items: center;
        padding: 1em;
    }
    @include breakpoint(tablet){
        align-items: center;
    }
    &__heading{
        color: $colour-white;
        font-family: 'Shrikhand';
        font-size: 1.2em;
        font-weight: normal;
        margin-bottom: 0;
        padding-left: 1.4em;
        @include breakpoint(tablet){
            font-size: 1.5rem;
            padding: 0;
        }
        @include breakpoint(desktop){
            font-size: 2.5em;
            margin: 0 ;
            padding: 1rem 0;
        }
        @include breakpoint(desktopL){
            font-size: 2.8em;
            padding: 1rem 0;
        }

    }
    &__list{
        list-style: none;
        padding-left: 1.5em;
        li{
            margin-bottom: 0.7em;
        }
        @include breakpoint(desktop){
          display: flex;
          font-size: 1.2em;
          justify-content: space-between;
          padding: 0;
          width: 80%;
        }
        @include breakpoint(desktopL){
            font-size: 1.4em;
            width: 70%;
        }
    }
    &__icon{
        font-size: 0.8em;
        margin-right: 0.7em;
    }
    &__link{
        color: $colour-white;
     }
}

.fa-utensils{
    margin-right: 1.1em;
}
